{% extends 'layouts.html' %}
{%block content%} 



<div class="jumbotron home" style="background-color: rgb(80, 82, 83); margin-bottom: 0%;">
  <!--Inicio de About-->
  <div id="aboutUs" style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%; background-color: rgb(80, 82, 83);"> 
    
    <h1 style= "color:rgb(211, 177, 24)">About us</h1>
    <br>
    <p style="font-size:xx-large; color:rgb(211, 177, 24)"> <b>IvanDev</b>
    </p>
    <p style="color:rgb(255, 255, 255)">Es el sobrenombre oficial de Ivan Paniagua, desarrollador  de videojuegos y estudiante de la universidad <button type="button" class="btn btn-outline-warning m-2 "><h4><a style="color: rgb(255, 255, 255)" href="https://amerike.edu.mx"> AMERIKE CDMX</a></h4></button>
    </p>
    <p style="color:rgb(255, 255, 255)">Junior Developer con 3 Juegos Desarrollados y publicados. Soy alguien que esta muy creativo, perseverante y dispuesto al trabajo en equipo y a la participación de proyectos enfocados en Unity. Tengo un excelente manejo del Inglés, dispuesto a siempre aprender y colaborar.
    </p>
    <!--Final de About-->
    <br>
    <!--Inicio de Activities-->
    <h1 style="color:rgb(211, 177, 24)">Actividades</h1>
    <ul>
      <h3><p><li style="color:rgb(255, 255, 255)">Desarrollo de videojuegos para PC <button type="button" class="btn btn-outline-warning m-2 "><h4><a style="color: rgb(255, 255, 255)" href="https://itch.io/profile/super-sentai-mexicano"> (ver Proyectos) </a></li></p></h3>
    </ul>
    <br>
    <!--Final de Activities-->

    <!--Incio de Bio-->
    <h1 align="left" style="color:rgb(211, 177, 24)">Bio</h1>
    <p align="center"><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025672907688517662/unknown.png" width="400" height="400" style="border-radius: 50%;" ></p>
   
    <!--Final de Bio-->

    <!--Inicio de Informacion-->
      <h2 align="left" style= " font-size:xx-large; color:rgb(211, 177, 24)">Informacion basica</h2>
      <ul>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>Nombre :</b> Ivan Paniagua Maldonado</li></p>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>Fecha de Nacimiento :</b> 01 de Mayo del 2003</li></p>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>Ubicacion :</b> Naucalpan (CDMX)</li></p>  
    </ul>    
    <!--Final de Informacion-->
  
    <!--Inicio de Academia-->
      <h2 align="left" style= " font-size:xx-large; color:rgb(211, 177, 24)">Formacion Academica</h2>
      <ul>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>Bachillerato:</b> Universidad del Valle de Mexico <b>(UVM)</b> (Mexico 2017-2020)</li></p>
        <ul>
          <p><li style= " font-size:medium; color:rgb(255, 255, 255)">Constancia de Asistente Administrativo Fundación Salinas </li></p>
          <p><li style= " font-size:medium; color:rgb(255, 255, 255)">Curso de Inglés Avanzado para examen Toffle de Hallmond Hal</li></p>
        </ul>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>Grado en Ingeniería en Desarrollo de Software Interactivo y Videojuegos :</b> Instituto Universitario AMERIKE Campus CDMX (Mexico 2021-Actualidad)</li></p>
        </p>
      </ul> 
    <!--Inicio de Academia-->
        <!--Inicio de Abilities-->
      <h2 align="left" style= " font-size:xx-large; color:rgb(211, 177, 24)">Habilidades</h2>
      <ul>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Apoyo a los compañeros.</b></li></p>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Motivación.</b></li></p>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Participación en equipo.</b></li></p>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Perseverancia ante situaciones adversas y estresantes .</b></li></p>
        </p>
      </ul> 
    <!--Inicio de Abilities-->
        <!--Inicio de Jobs-->
        <!--
        <h2 align="left" style= " font-size:xx-large; color:rgb(211, 177, 24)">Trabajos</h2>
        <ul>
          <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>Asistente de Publicidad - CECOVAM :</b> (2020 - 2022) </li></p>
            <ul> 
              <p><li style= " font-size:medium; color:rgb(255, 255, 255)">Organizo y planifico campañas e iniciativas de marketing con un equipo de trabajo.</li></p>
              <p><li style= " font-size:medium; color:rgb(255, 255, 255)">Coordino tiempos entre publicación en redes sociales.</li><</p>
              <p><li style= " font-size:medium; color:rgb(255, 255, 255)">Soluciono problemas de marketing por medio de estrategias de investigación.</li><</p>
              <p><li style= " font-size:medium; color:rgb(255, 255, 255)">Produzco y organizo la comunicación interna y externa de una empresa.</li><</p>
            </ul>       
        </ul> -->
      <!--Final de Jobs-->

      <!--Inicio de Idiomas-->
        <h2 align="left" style= " font-size:xx-large; color:rgb(211, 177, 24)">Idiomas</h2>
        <ul>
          <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Nivel de Español - Nativo</b></li></p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" aria-label="Example with label" style=" color: black; width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><b>100%</b></div>
            </div>
          <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Certificación C1 en Inglés</b></li></p>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-label="Example with label" style=" color: black; width: 100%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><b>100%</b></div>
          </div>
        </ul> 
      <!--Final de Idiomas-->
      <!--Inicio de Software-->
      <h2 align="left" style= " font-size:xx-large; color:rgb(211, 177, 24)">Software y Lenguaje</h2>
      <ul>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Unity Engine</b></li></p>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-label="Example with label" style=" color: black; width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><b>60%</b></div>
          </div>
        <p><li style= " font-size:medium; color:rgb(255, 255, 255)"><b>- Lenguaje C#</b></li></p>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-label="Example with label" style=" color: black; width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><b>50%</b></div>
        </div>
      </ul> 
    <!--Final de Software-->

    <div class="menu-footer">
      <p align="center">
          <a href="https://twitter.com/AtraxxDev" target="_blank" class="white-expand-hover"><img src="https://cdn.icon-icons.com/icons2/1584/PNG/512/3721677-twitter_108058.png" width="30" height="30" style="margin-left: 16px; margin-right: 16px;"></a>
          <a href="https://instagram.com/AtraxxDev" target="_blank" class="white-expand-hover"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" width="30" height="30" style="margin-left: 16px; margin-right: 16px;"></a>
          <a href="https://github.com/AtraxxDev" target="_blank" class="white-expand-hover"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="30" height="30" style="margin-left: 16px; margin-right: 16px;"></a>
      </p>
    </div>

  </div>
</div>
{%endblock content%}



