{% extends 'layouts.html' %}


{%block content%}

<div class="jumbotron home" style="background-color: rgb(80, 82, 83); margin-bottom: 0%; margin-top: 0%;" >
  <div style="margin-bottom:0%">

    
    </div>
    <center><h1 style="color: rgb(211, 177, 24);">AnaDev</h1></center>
    <br>
        
    </div>
    <div class="card-group">
      <div class="card">
        <img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025680118703734805/unknown.png" class="card-img-top" alt="...">
        <div class="card-body">
          <center><h5 class="card-title">Card title</h5>
          <h2><p class="card-text">PiratesDungeon es un juego de disparos en 1ra persona el cual esta repleto de acción que solo los mas aptos son capaces de completar <br> Eres un pirata que lucha contra una presencia maligna en el mar y solo tu pistola y buenos reflejos te ayudaran a completar la travesía por el tesoro.</p></h2>
          <h2><a href="https://edgardev38.itch.io/crazypiratedungeonfps" class="btn btn-warning m-2">CLICK HERE</a></h2></center> 
        </div>
      </div>

      <div class="card">
        <img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025866810727342130/unknown.png" class="card-img-top" alt="...">
        <div class="card-body">
          <center> <h5 class="card-title">Card title</h5>
          <h2><p class="card-text">¿Alguna vez te has preguntado qué es ser un dios? Toma el lugar de tus GODS preferidos y prepárate para una experiencia de nuevas sensaciones, aprendizaje y sobre todo diversión. ( Juego en desarrollo [Plataforma/Runner/Metroidvania])</p></h2>
          <H3><a href="https://ana-rb.itch.io/gods" class="btn btn-warning m-2">CLICK HERE</a></H3></center> 
        </div>
      </div>

      <div class="card">
        <img src="https://media.istockphoto.com/vectors/coming-soon-hanging-sign-vector-id1339139937?k=20&m=1339139937&s=612x612&w=0&h=3W63Ac3Bmqi8NfIv-vkgWfkcxILogAMeWmR4FP-wTbs=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
  </div>


<div class="jumbotron home" style="background-color: rgb(80, 82, 83); margin-bottom: 0%; margin-top: 0%;" >
    
  </div>

  



















{%endblock content%}



